body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 200;
}

body:-webkit-scrollbar {
  width: 0.5em;
}

body:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body:-webkit-scrollbar-thumb {
  background-color: #424242;
  outline: 1px solid slategrey;
}

#slider {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*position: absolute;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100;
}

.slide span {
  font-size: 2rem;
  color: #fff;
}

.slide1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.slide2 {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.slide3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.showSlide {
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hideSlide {
  -webkit-animation: fadeOut 2s ease-in-out;
          animation: fadeOut 2s ease-in-out;
  display: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#prev, #next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 25px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
  /*border: 1px solid #f00;*/
}

#prev {
  margin-left: 20px;
}

#prev:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background: #fff;
  bottom: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#prev:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background: #fff;
  top: 16px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#prev:before, #prev:after {
  left: 10px;
}

#next {
  right: 20px;
}

#next:before, #next:after {
  right: 10px;
}

#next:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 16px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#next:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background: rgba(255, 255, 255, 0.8);
  top: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#prev:before:hover, #prev:after:hover, #next:before:hover, #next:after:hover {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */